
@{
    ViewData["Title"] = "PlaylistBuilder";
}
    <center>
        <h2>PlaylistBuilder</h2>

        <input type="button" value="Create Playlist with your top songs" onclick="location.href='@Url.Action("TopSongCreator", "Playlist")'" />
        <input type="button" value="Create Playlist with recently played songs" onclick="location.href='@Url.Action("RecentlyPlayed", "Playlist")'" />
    </center>