
@{
    ViewData["Title"] = "PlaylistBuilder";
}
    
    <link rel="stylesheet" href="@(Url.Content("~/css/site.css"))" />
    <center>
        <p style="font-family:'Arial'; font-size:72px; font-weight:bold">
            Playlist Builder
        </p>

        <p>
            <input type="button" value="Create Playlist with your top songs" class="btn" onclick="location.href='@Url.Action("TopSongCreator", "Playlist")'" />
            <input type="button" value="Create Playlist with recently played songs" class="btn" onclick="location.href='@Url.Action("RecentlyPlayed", "Playlist")'" />
        </p>

        <br />

        <input type="button" value="Create Custom Playlist with your own Attributes!" class="btn" onclick="location.href='@Url.Action("CustomPlaylist", "Playlist")'" />       
    </center>