
@{
    ViewData["Title"] = "Callback";
}
    <center>
        <h2>WOOOOO! Thanks for logging in!!!!</h2>


        <input type="button" value="Go to Playlist Builder" onclick="location.href='@Url.Action("GetUser", "Playlist")'" />
    </center>