
@{
    ViewData["Title"] = "Callback";
}
    <center>
        < <p style="font-family:'Arial'; font-size:36px; font-weight:bold">
            Awesome! Thanks for logging in!
        </p>

        <input type="button" value="Go to Playlist Builder" class="btn" onclick="location.href='@Url.Action("GetUser", "Playlist")'" />
    </center>