
@{
    ViewData["Title"] = "Home";
}
    <center>
        <p style="font-family:'Arial'; font-size:40px; font-weight:bold">
            Welcome to the
        </p>

        <p style="font-family:'Arial'; font-size:56px; font-weight:bold">
            Spotify Playlist Builder!
        </p>

        <p style="font-family:Calibri; font-size:24px;">
            <br />

            To proceed with creating personalized playlists,
            <br />please login to your Spotify Account
            <br />
        </p>

        <input type="button" value="Okay!" class="btn" onclick="location.href='@Url.Action("GetLogin", "Home")'" />
        <input type="button" value="No thanks" class="btn" onclick="location.href='@Url.Action("InvalidLogin", "Home")'" />
    </center>