
@{
    ViewData["Title"] = "InvalidLogin";
}
<center>
    <h2>We really need your login!</h2>

    <input type="button" value="Okay sounds good!" onclick="location.href='@Url.Action("GetLogin", "Home")'" />
</center>